{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Magazyn</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{{ url_for('admin.magazyn_dodaj') }} " class="btn btn-sm btn-outline-secondary">Dodaj nową pozycje magazynu</a>
      </div>
    </div>
  </div>

    <table id="ItemTable" class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Typ</th>
          <th scope="col">EAN</th>
          <th scope="col">Nazwa cennika</th>
          <th scope="col">Rozmiar</th>
          <th scope="col">Opcje</th>
        </tr>
      </thead>
      <tbody>
        {% for poz in pozycje %}
        <tr>
          <td>{{ poz.nazwa }}</td>
          <td>{{ poz.typ }}</td>
          <td>{{ poz.ean }}</td>
          <td><a href="{{ url_for('admin.cennik_edycja', id=poz.cennik_id) }}">{{ poz.cennik_nazwa }}</a></td>
          <td>{{ poz.rozmiar }}</td>
          <td>
            <a href="{{ url_for('admin.magazyn_edytuj', item_id=poz.item_id)}}" type="button" class="btn btn-primary btn-sm">Edytuj</a>
            <a type="button" class="btn btn-danger btn-sm">Usuń</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}

{% block scripts %}
<script>
// Basic example
$(document).ready(function () {
    $('#ItemTable').DataTable({
        "pageLength": 100
    });
});
</script>
{% endblock %}