{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Lista wypożyczeń dzisiaj</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{{ url_for('dashboard.dodaj_wypozyczenie') }} " class="btn btn-sm btn-outline-secondary">Dodaj wypożyczenie</a>
        <a href="{{ url_for('dashboard.oddanie_wypozyczenia') }} " class="btn btn-sm btn-outline-secondary">Oddanie wypożyczenia</a>
      </div>
    </div>
  </div>


    <table id="ItemTable" class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Klient</th>
          <th scope="col">Nr tel</th>
          <th scope="col">Wypozycznie od</th>
          <th scope="col">Wypozyczenie do</th>
          <th scope="col">Opcje</th>
        </tr>
      </thead>
      <tbody>
        {% for poz in pozycje %}
        <tr>
          <td>{{ poz.klient_name }}</td>
          <td>{{ poz.klient_tel}}</td>
          <td>{{ poz.wypozyczenie_od}} {{ poz.wypozyczenie_godz_od}}</td>
          <td>{{ poz.wypozyczenie_do}} {{ poz.wypozyczenie_godz_do}}</td>
          <td>
            <a href="{{ url_for('dashboard.wypozyczenie', id=poz.wypozyczenie_id)}}" type="button" class="btn btn-primary btn-sm">Panel</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock %}

{% block scripts %}
<script>
// Basic example
$(document).ready(function () {
    $('#ItemTable').DataTable({
        "pageLength": 100
    });
});
</script>
{% endblock %}